body {
  background-color: #272727;
  color: #AAAAAA;
  font-family: 'Source Serif Pro', serif;
}
svg {
    overflow: visible;
}
.labyrinth {
  stroke-dasharray: 30200;
	stroke-dashoffset: 302200;
	
  position: relative;
}
.labyrinth-anim {
    animation: dash 9s infinite ease-in-out forwards;
}
.container-glowing-sun {
  position: relative;
  text-align: center;
  width: 1920px;
  height: 1080;
  padding: 90px;
  margin: 230px auto;
}
.glowing-sun-content {
  width: 1920px;
  height: 1080;
}
.glowing-sun-svg {
    display: flex;
    justify-content: center;
}
.glowing-sun-text {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}
.sun {
    transform-origin: center;
}
.sun-anim {
 animation-name: pulse;
 animation-duration: 2s;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}
.container-first-flight {
  position: relative;
  text-align: center;
  width: 1920px;
  height: 1080;
  padding: 90px;
  margin: 230px auto;
}
.first-flight-svg {
  display: flex;
  justify-content: center;
}
.first-flight-text {
  display: flex;
  justify-content: center;
}
@keyframes pulse {
   0%{ transform: scale(1);}
   50%{ transform: scale(.925);}
   100%{ transform: scale(1);}
}

@keyframes dash {
  0% {
    stroke-dashoffset: 30200;
    stroke-width: 10;
  }
  50% {
    stroke-dashoffset: 0;
    stroke-width: 10;
  }
  100% {
    stroke-dashoffset: 30200;
    stroke-width: 10;
  }
}
.feather {
    border-radius: 50%;
    width: 200px;
    height:60px;
    animation: 12s linear forwards float;
}
@keyframes float {
    0% {
        transform: translate(500px,100px) rotate( -15deg)
    }
    50% {
        transform: translate(300px,450px) rotate( 15deg)
    }
    100% {
        transform: translate(500px,800px)  rotate( -15deg) scale(2)
    }
}
main {
    width: 1920px;
    height: 1080px;
    margin: 230px auto;
}
.main-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-minotaur {
  position: relative;
  text-align: center;
  width: 1920px;
  height: 1080;
  padding: 90px;
  margin: 230px auto;
}
.minotaur-svg {
  position: relative;
}
.miontaur-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes faded {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.minotaur-svg {
  animation-name: faded;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
.container-labyrinth {
  position: relative;
  text-align: center;
  width: 1920px;
  height: 1080;
  padding: 90px;
  margin: 230px auto;
}
.labyrinth-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.labyrinth-svg {
  position: center;
}
.container-ground-feathers {
  position: relative;
  text-align: center;
  width: 1920px;
  height: 1080;
  padding: 90px;
  margin: 230px auto;
}
.ground-feathers-content {
  position: center;
}
.ground-feathers-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ground-feathers-svg {
  position: center;
}
.container-wing {
  position: relative;
  text-align: center;
  width: 1920px;
  height: 1080;
  padding: 90px;
  margin: 230px auto;
}
.wing-content {
  position: center;
}
.wing-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 610px;
}
.wing-svg {
  position: center;
  animation: scaled 3s infinite ease;
}
@keyframes scaled{
  0% {transform: scale(1);}
  50% {transform: scale(.925);}
  100% {transform: scale (1);}
}
.container-ignored {
  display: flex;
  justify-content: center;
  width: 1920px;
  height: 1080px;
  padding: 90px;
  margin: 230px auto;
}
.ignored-text {
  padding-top: 450px;
}
.container-too-close {
  position: relative;
  text-align: center;
  width: 1920px;
  height: 1080;
  padding: 90px;
  margin: 230px auto;
}
.too-close-content {
  width: 1920px;
}
.dark-icarus-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50,-50);
  animation: scaledDown 6s infinite ease;
}
.medium-sun-svg {
  display: flex;
  justify-content: center; 
}
@keyframes scaledDown {
  0% {transform: scale(1);}
  50% {transform: scale(.55);}
  100% {transform: scale(1);}
}