body {
  background-color: #272727;
  color: #AAAAAA;
  font-family: 'Source Serif Pro', serif;
}
svg {
    overflow: visible;
}
.labyrinth {
  stroke-dasharray: 30200;
	stroke-dashoffset: 302200;
	
  position: relative;
}
.labyrinth-anim {
    animation: dash 5s ease-in-out forwards;
}

.glowing-sun-svg {
    display: flex;
    justify-content: center;
}
.glowing-sun-text {
  display: flex;
  justify-content: center;
}
.sun {
    transform-origin: center;
}
.sun-anim {
 animation-name: pulse;
 animation-duration: 2s;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}
.first-flight-svg {
  display: flex;
  justify-content: center;
}
.first-flight-text {
  display: flex;
  justify-content: center;
}
@keyframes pulse {
   0%{ transform: scale(.9);}
   50%{ transform: scale(1);}
   75%{ transform: scale(.9);}
   100%{ transform: scale(1);}
}

@keyframes dash {
  0% {
    stroke-dashoffset: 30200;
    stroke-width: 10;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 10;
  }
}
.feather {
    border-radius: 50%;
    width: 200px;
    height:60px;
    animation: 12s linear forwards float;
}
@keyframes float {
    0% {
        transform: translate(500px,100px) rotate( -15deg)
    }
    50% {
        transform: translate(300px,450px) rotate( 15deg)
    }
    100% {
        transform: translate(500px,800px)  rotate( -15deg) scale(2)
    }
}
main {
    width: 800px;
    height: 800px;
    border: 2px solid red;
    margin: 60px auto;
}
.main-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-minotaur {
  position: relative;
  text-align: center;
}
.minotaur-svg {
  position: relative;
}
.miontaur-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-labyrinth {
  position: relative;
  text-align: center;
}
.labyrinth-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.labyrinth-svg {
  position: center;
}
.container-ground-feathers {
  position: relative;
  text-align: center;
}
.ground-feathers-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ground-feathers-svg {
  position: center;
}
.container-wing {
  position: relative;
  text-align: center;
}
.wing-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wing-svg {
  position: center;
}
.container-ignored {
  display: flex;
  justify-content: center;
}